extends layout

block content
  .well(style='text-align: center;')
    h1.jumbotron-heading Ingress Default Backend
    h4 404 Not Found
    p
      img(src='img/gardener-large.png')
    p.lead.text-muted
      Shoot Shoot Kubernetes cluster provided by #[a(href='https://github.com/gardener/gardener') Gardener].
