extends layout

block content
  .well(style='text-align: center;')
    h1.jumbotron-heading SAP Cloud Platform - Kubernetes
    p
      img(src='img/kubernetes-logo.png')
    p.lead.text-muted  Everything around containers.