doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Ingress Default Backend - 404 Not Found
    link(rel='icon', type='image/png', href='/img/gardener-large.png')
    link(rel='stylesheet', href='/css/bootstrap.min.css', type='text/css', media='all')
    script(src='/js/bootstrap.min.js')
  body
    nav.navbar.navbar-light.bg-faded
      a.navbar-brand(href='#')
        img(src='/img/kubernetes-logo.png', width='50', height='50', alt='')
    .container-fluid
      block content
      p.text-muted(style='text-align: center;') Copyright &copy; 2018 The Gardener Authors.
